.container_home {
    background-image: url('../../assets/img_home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    font-family: "Margarine", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
}

.card img {
    width: 150px;
    height: 180px;
    margin-bottom: 25px;

}

.card {
    width: 340px;
    height: 450px;
    border-radius: 20px;
    background: linear-gradient(180deg, #FFFFFF 50.5%, #71FFF6 100%);

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

button {
    margin-top: 20px;

    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 16px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;

    cursor: pointer;
}

button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #43D2FF 0%, #FA10FF 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 9em;
}